<template x-component="card">
    <div class="horizontal-card bg-grass rounded-sm overflow-hidden grid grid-cols-5">
      <div class="col-span-2">
        <img
        class="w-full object-cover aspect-video"
        src="https://i.ytimg.com/sh/qZB-Cas1hJo1w7F026hhaQ/market.jpg"
        alt=""
        />
      </div>
      <div class="px-4 col-span-3 flex flex-col justify-center item-start">
      <h4 class="text-white text-sm font-semibold capitalize mb-2">The gilded age</h4>
      <div class="text-xs font-light uppercase flex flex-row gap-2 opacity-70">
        <span class="text-white">ACTION</span>
        <span class="text-blue">/</span>
        <span class="text-white">6 Shares</span>
      </div>
    </div>
  </div>
</template>