@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .route-active {
    @apply text-blue no-underline
  }
  .sections-title {
    @apply text-lg uppercase text-white text-left font-semibold pb-2 border-b-[3px] border-solid border-blue
  }
  .main-btn {
    @apply bg-blue text-white text-xs p-3 font-semibold
  }
  .second-btn {
    @apply bg-grass text-white text-xs p-3 font-semibold
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

* {
  font-family: 'Montserrat', sans-serif;
}
