@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .route-active {
    @apply text-blue no-underline
  }
  .sections-title {
    @apply text-lg uppercase text-white text-left font-semibold pb-2 border-b-[3px] border-solid border-blue
  }
  .main-btn {
    @apply bg-blue text-white text-xs p-3 font-semibold
  }
  .second-btn {
    @apply bg-grass text-white text-xs p-3 font-semibold
  }
  .card {
    @apply bg-grass rounded-sm overflow-hidden
  }
  .horizontal-card {
    @apply grid grid-cols-5 sm:grid-cols-none
  }
  .card-content {
    @apply px-4 col-span-3 flex flex-col justify-center items-start sm:col-span-1
  }
  .card-image-content {
    @apply col-span-2 sm:col-span-1
  }
  .card-image {
    @apply w-full object-cover aspect-video
  }
  .card-title {
    @apply text-white text-base font-semibold capitalize mb-4
  }
  .card-tag {
    @apply text-xs flex flex-row gap-2 opacity-70 uppercase
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

* {
  font-family: 'Montserrat', sans-serif;
}
